@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager Navigation
@inject Data.RoomService UserService
@implements IAsyncDisposable

<PageTitle>Rooms</PageTitle>
    <div class="card">
        <div class="card-header">
            登入資訊
        </div>
        <div class="card-body">
            <div class="form-group">
                <label>
                    User:
                    @if (IsLogon)
                    {
                        @UserName
                    }
                    else
                    {
                        <input @bind="userInput" class="form-control" />
                    }
                </label>
            </div>


        </div>
        @if (!IsLogon)
        {
            <div class="card-footer">
                <button class="btn btn-sm btn-primary" @onclick="Login">登入</button>

            </div>
        }
     
    </div>


@if (IsLogon)
{

    <div class="card mt-2">
        <div class="card-header">
            班級資訊 : @LoginRoom
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th width="100px">班級編號</th>
                        <th width="150px">班級名稱</th>
                        <th width="180px">動作</th>
                        <th width="500px"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var room in AllRooms)
                    {
                        <tr>
                            <td>
                                @if (room.RoomNo == LoginRoom)
                                {
                                    <b class="text-primary">@room.RoomNo</b>
                                }
                                else
                                {
                                    @room.RoomNo
                                }
                                </td>
                            <td>@room.RoomName</td>
                            <td>
                                <button class="btn btn-sm btn-primary" @onclick="@(()=>EnterRoom(room))" disabled="@(LoginRoom==room.RoomNo)">進入班級</button>
                                <button class="btn btn-sm btn-secondary" @onclick="@(()=>LeaveRoom(room))" disabled="@(LoginRoom!=room.RoomNo)">離開班級</button>
                            </td>
                            <td>
                                <div class="input-group">
                                    <input @bind="@room.Message" class="form-control" />
                                    <button class="btn btn-sm btn-secondary" @onclick="@(()=>NotifyRoom(room))">對班級發送訊息</button>
                                </div>
                              
                            </td>
                        
                        </tr>
                    }
                </tbody>
            </table>

        </div>
  
        
    </div>
}
<div class="row">
    <div class="col-sm-6">
        <div class="card mt-2">
            <div class="card-header">
             所有訊息
            </div>
            <div class="card-body">
                <ul>
                    @foreach (var message in AllMessages)
                    {
                        <li>@message</li>
                    }
                </ul>

            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card mt-2">
            <div class="card-header bg-primary text-white">
                目前進入的班級訊息 (@(AllRooms.SingleOrDefault(o=>o.RoomNo==LoginRoom)?.RoomName))
            </div>
            <div class="card-body">
                <ul>
                    @foreach (var message in RoomMessages)
                    {
                        <li>@message</li>
                    }
                </ul>

            </div>
        </div>
    </div>
</div>